@{
    ViewBag.Title = "About";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ; style="text-align:center; margin-bottom:20px">
    <h2>About Us</h2>
    <div>
        <p style="font-size:14px; margin-right:18px; margin-left:18px;">
            SafeKeepers QR is designed to offer parents and guardians a sense of security knowing first responders
            have quick and easy access to all important and lifesaving information related to their child.Start by creating
            your child's online profile which contains a photo, medical information, emergency contacts and more.
            All information included in the profile will be public for use in case of an emergency. Print your child's customized
            QR code on stickers, temporary tattoos, clothing or other materials of your choice. Scan the QR code using a mobile phone
            or tablet for a quick look at your child's profile.
        </p>
    </div>
</div>