@*Add the model you want to use*@
@model IEnumerable<B4B.Models.Profile>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="createbutton">
                @Html.ActionLink("+", "Create", "Profiles", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>


@*<button id="addProfile" class="btn btn-default">+</button>*@


@foreach (var item in Model)
            {
    <div class="adminHome">
        <img src="~/File?id=@item.ProfileID" class="idpicsize img-responsive" />
    </div>
                    @Html.ActionLink(item.FirstName, "Edit", "Profiles", new { id = item.ProfileID }, null)
}




