@model IEnumerable<B4B.Models.Profile>

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="row rowmargin">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <ul>
            @foreach (var item in Model)
            {
                <li class="profilesAdmin">
                    @if (item.PhotoBytes != null)
                    {

                        <a href="@Url.Action("Edit", "Profiles",new { id = item.ProfileID })" class="addProfileAdmin"><img src="~/File?id=@item.ProfileID" class="img-responsive adviewpic1" /></a>

                    }
                    else
                    {
                        <a href="@Url.Action("Edit", "Profiles",new { id = item.ProfileID })" class="addProfileAdmin">
                            <img src="~/Portrait_placeholder.png" class="object-fit_fill" width="150" height="150" />
                        </a>
                    }
                    <span style="display:block; font-size: 20px; margin: 10px 0;">@item.FirstName</span>
                </li>

            }
            <li class="profilesAdmin">
                <div>


                    <a href="@Url.Action("Create", "Profiles")" class="addProfileAdmin">
                        <img src="~/pluswhite_480.png" width="150" height="150" />                        
                    </a>
                    <span style="display:block; font-size: 20px; margin: 10px 0; padding-top:15px;">Create Profile</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>

