@*Add the model you want to use*@
@model  IEnumerable<B4B.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*Go into the controller*@

    <div class="container-fluid">
        <div class="row">
            <div id="adminHome" class="col-lg-12">
                @Html.ActionLink("Create", "Create", "Profiles")
                <button id="addProfile" class="btn btn-default">+</button>
            </div>
        </div>
        
    </div>
