@{
    ViewBag.Title = "Contact";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"; style="text-align:center; margin-top:40px">
    <div id="contactUs">
        <h2>Contact Us</h2>
    </div>
    <div>
        <address style="font-size:16px">
            50 Public Square<br />
            Cleveland, OH 44113<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address style="font-size:16px">
            <strong>Support:</strong>   <a href="mailto:barcodes4babies@gmail.com">SafeKeepersQR@gmail.com</a><br />
        </address>
    </div>
</div>
