@{
    ViewBag.Title = "Home Page";
}

<p align="right"><a id="button" class="btn btn-default" href="~/Account/Login">Sign In</a></p>
<p align="right"><a id="button" class="btn btn-default" href="~/Account/Register">Register</a></p>

<div class="row">
    <div class="col-md-4">
        <h2 id="brandname">SafeKeepers QR</h2>
    </div>
</div>
