@{
    ViewBag.Title = "Home Page";
}

<p><a id="button" class="btn btn-default" href="~/Account/Login">Sign In</a></p>
<div class="row">
    <div class="col-md-4">
        <h2>Safety first.</h2>
        <p><a id="button" class="btn btn-default" href="~/Account/Register">Register</a></p>
    </div>
</div>
