@model B4B.Models.Profile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this profile?</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" style="background-color: red"  value="Delete" class="btn btn-default" /> 
            <a class="btn btn-danger" role="button" href="@Url.Action("Edit", "Profiles",  new { id = Model.ProfileID })">Cancel</a>
        </div>
    }
</div>
