html{
    height: 100%;
}
body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
    overflow-x: hidden;
    height: 100%;
    background-color: #4ABDAC;
    color: whitesmoke;
    font-family: 'Hind', sans-serif;
}
#home-background{
    background-image: url('../Images/BackgroundOverlay.jpg');
    background-size: cover;
    background-color: transparent;
}

#renderBody{
    height: 95%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#navbar{
    color: whitesmoke;
    background-color: #FC4A1A;
}
#button {
    background-color: #F7B733;
    width: 90px;
    margin-top: 10px;
    color: whitesmoke;
    border-color: #cccccc;
    border-radius: 10px;
    width: 250px;
    font-size: 30px;
}
#loginbutton {
    background-color: #F7B733;
    width: 90px;
    margin-top: 15px;
    margin-right: 12px;
    color: whitesmoke;
    border-color: #cccccc;
    border-radius: 10px;
    width: 100px;
    font-size: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*our CSS*/
#addProfile{
    position:relative;
   
}



/* --------------------------------------
             Wizard Form
   -------------------------------------- */

.wizard>.steps{
    position: relative;
    display: block;
    width: 100%;
}
.wizard ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wizard ul>li{
    display: block;
    padding: 0;
    float: left;
    list-style: none;
    width: 25%;
    line-height: 1.5em;
}
.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active{
    background: #FC4A1A;
    color: Whitesmoke;
    cursor: default
}
.wizard>.steps a{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
}
#tab1, #tab2, #tab3{
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wizard>.content {
    background: #eee;
    display: block;
    margin: .5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
}
.wizard>.content>.title{
    position:absolute;
    left: -999em;
}
.wizard>.content>.body{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    display: block;
}

.wizard>.actions{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard>.actions> ul{
    display: inline-block;
    text-align: right;
}
.wizard>.actions .disabled a{
    background: #eee;
    color: #aaa !important;
}
.wizard>.actions a{
    display: block;
    color: whitesmoke;
    background: #FC4A1A;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px; 
}
#wizForm{
    margin-top: 20px;
}
#wizNav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#wizNav li{
    width: 33.3%;
}
#wizNav a{
    border-radius: 0;
}
#wizNavContainer{
    padding: 0;
}
#rootwizard{
    background-color: ghostwhite;
    height: 600px;
    width: 500px;
    margin-left: auto;
    margin-right:auto;
}
#rootwizard> .navbar{
    margin-bottom: 0;
}
.pager.wizard li{
    display: inline-block;
    text-align: right;
}
.tab-content{
    height: 472px;
}
#wiz1left{
    height: 250px;
    /*background: gray;*/
}
#wiz1right{
    padding-top: 10px;
}
.wizardFooter>ul{
    text-align: right;
}
.wizardFooter>ul> li{
    text-align: right;
    padding-left: 20px;
}
.nav-pills > li.active > a {
    color:white !important;
}
#submitWiz{
    width: 88px;
}
.footerSeperate{
    width: 20px;
}

/* --------------------------------------
                Images
   -------------------------------------- */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.image {
  width: 40%;
  margin: 0 auto 0 auto;
  
}
#createAvartar{
    position: relative;
    margin: 0 auto 0 auto;
}
#Avatar{
    position: absolute;
    bottom: 120px;
    right: 230px;
}
.createImage{
    top: 50px !important;
    right: 130px !important;
}

.idpicsize{
    width:200px;
    height:200px;
    object-fit:cover;
    padding:15px;
    align-content:center;
    display:inline-block;
    margin-top: 30px;
}
.detailsphoto{
    margin-left:500px;
}
.emergbtn{
    padding-left:100px;
}



/* --------------------------------------
            Edit Page View
   -------------------------------------- */
.editcity{
    padding-right: 0px;
}
#AvatarEdit{
}
.bootstrap-filestyle.input-group{
    position: absolute;
    top: 50px;
    right: 94px;
}
.generateQr{
    padding-left: 114px;
    padding-right: 50px;
}
.printQr{
    padding-left: 106px;
}
.addNewMedCard{
    color: black;
}





/* --------------------------------------
                Qr Code
   -------------------------------------- */

#generateQr{
    /*position: absolute;
    top: 350px;
    right: 30px;*/
    position: relative;
}
#testQrCode{
    height: 250px;
    width: 250px;
    margin-top: 20px;
}



/* --------------------------------------
             Media Queries
   -------------------------------------- */

/*@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {
    .idpicsize{
    width:100px;
    height:100px;
    padding-bottom:15px;
    
}
}*/
/* --------------------------------------
             Footer
   -------------------------------------- */
#footer {
    margin: 0px auto auto 0;
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    position: relative;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: whitesmoke;
}
.row {
    text-align: center;
}

.emergbutton{
    color: whitesmoke;
    background-color: red;
    border-color: #cccccc;
}

/* --------------------------------------
                Home Page
   -------------------------------------- */
.mobileHome{
    margin-bottom: 30px;
    background-color:#FC4A1A;
}
.clearfix{
    height: 50px;

}
.glyphicon-user{
    font-size: 30px; 
    margin-top:5px; 
    margin-left:145px;
}
a.homeNavBrand{
    font-size: 55px;
    font-weight: 900;
    text-decoration: none;
}
a.loginNavBrand{
    font-size: 40px;
    font-weight: 900;
    text-decoration: none;
}
#homeNavBrand{
    font-size: 90px;
    font-weight: 900;
    color: #F7B733;
    position: absolute;
    bottom: -29px;
}
#loginNavBrand{
    font-size: 65px;
    font-weight: 900;
}
.homeNavBrand :hover{
    text-decoration: none;
}
.loginNavBrand :hover{
    text-decoration: none;
}
#homeNavItems li{
    list-style: none;
    display: inline-block;
    float: right;
    margin: 40px 10px 20px 20px;
    font-size: 30px;
    font-weight: 900;
}
#homeNavItems li a{
    color: white;
    list-style: none;
    text-decoration: none;
}
#homeNavItems>.lastItem{
    margin-right: 130px;
}
#navItems li{
    list-style: none;
    display: inline-block;
    float: right;
    margin: 10px;
    font-size: 30px;
    font-weight: 900;
}
#navItems li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}
#navItems>.lastItem{
    margin-right: 17px;
}
#homeNavTitle{
    font-weight: 900;
    font-size: 100px;
}
@media screen and (max-width: 1024px) {
    #homeNavItems>.lastItem{
        margin-right: 10px;
    }
    div.row.mobileHome{
        margin-bottom: 20px !important;
    }
}
@media screen and (max-width: 768px) {
    #homeNavItems>.lastItem{
        margin-right: 10px;
    }
    #homeNavTitle{
        font-size: 80px;
        margin-top: 60px;
    }
    #home-background{
    background-image: url('../Images/BackgroundOverlay.jpg');
    background-size:cover;
    background-position:right 0px top;
    }
    #loginbutton {
        margin-top: 15px;
        margin-right: 10px;
    }

    .form-control{
        max-width: 582px !important;
    }
    #FirstName{
        width: 100% !important;
    }
    #LastName{
        padding-left: 15px !important;
        margin-bottom: 15px;
    }
    #FirstNameCreate{
        padding-right: 0 !important;
    }
    .form-group{
        margin-bottom: 0 !important;
    }
    .form-group div{
        margin-bottom: 15px;
    }
    #streedAddressCreate{
        margin-top: -4px;
    }
    
}

@media screen and (max-width: 425px) {
    #homeNavTitle{
        font-weight: 900;
        font-size: 40px;
    }
    #homeNavButton{
        background: white;
    }
    #homeNavI{
        background-color: #F7B733;
        position: absolute;
        top: 65px;
        left: 140px;
    }
    #homeNavI ul li{
        font-size: 20px;
        display: block;
    }
    .homeNavbutton {
      display: flex;
      position: absolute;
      top: 30px;
      right: 20px;
      width: 30px;
      height: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #F7B733;
      z-index: 2;
    }
    .homeNavbutton:active {

      box-shadow: 0;
    }

    .button__line {
      background: white;
      width: 20px;
      height: 3px;
      margin: 1px 0;
    }
    #homeNavBrand{
        left: 120px;
        bottom: -13px;
    }
    a.homeNavBrand{
        font-size: 60px;
    }
    #homeNavItems{
        padding-left: 0;
    }
    #homeNavItems li{
        font-size: 20px;
        margin-top: 30px;
    }
    .clearfix.dropdown{
        height: 80px !important;
    }
    #homeNavI a{
        color: white;
        font-weight: 700;
        font-size: 20px;
    }
    #homeNavI ul{
        color: #F7B733;
        padding-left: 0;
    }
    #homeNavI li{
        border-bottom-style: groove;
    }
    #LoginNav{
        height: 85px !important
    }
    #createAvartar{
        position:absolute;
        top: 32px;
        left: 60px;
    }
    .createImage{
        top: 50px !important;
        right: 68px !important;
    }
   
}

@media screen and (max-width: 375px) {
    .formPlate{
        width: 340px !important;
    }
    div.row.mobileHome{
        margin-bottom: 50px !important;
    }
    #homeNavI{
        left: 100px;
    }
    #homeNavTitle{
        font-size: 35px;
    }
    a.homeNavBrand{
        font-size: 60px;
    }
    #homeNavBrand{
        left: 125px;
        bottom: -17px;
        font-size: 100px;
    }
    #homeNavItems li{
        margin-right: 0;
    }
    #homeNavItems>.lastItem{
        margin-right: 0;
    }
    div.homeNavbutton.dropdown-toggle{
        bottom: -90px !important;
    }
    #LoginNav{
        height: 85px !important
    }
}

@media screen and (max-width: 320px) {
    #home-background{
    background-image: url('../Images/BackgroundOverlay.jpg');
    background-size:cover;
    background-position:right -103px top;
}
    #loginbutton {
        margin-top: 10px;
        width: 75px;
        font-size:16px;
    }

    #homeNavTitle{
        font-weight: 900;
        font-size: 30px;
    }
    #homeNavI{
        left: 60px;
        top: 60px;
    }
    a.homeNavBrand{
        font-size:40px;
    }
    #homeNavBrand{
        left: 90px;
        bottom: -26px;
    }
    div.row.mobileHome{
        margin-bottom: 50px !important;
    }
    .homeNavbutton {
      top: 22px;
      right: 20px;
    }
    #homeNavItems li{
        margin-right: 0;
        margin-top: 17px;
    }
    #homeNavItems>.lastItem{
        margin-right: 0;
    }
     #navItems li{
        margin-right: 0;
        margin-top: 17px;
    }
    #navItems>.lastItem{
        margin-right: 0;
    }
    .clearfix.dropdown{
        height: 57px !important;
        
    }
    .formPlate{
        width: 290px !important;
    }
    #submitLogin{
        width: 250px !important;
    }
    #LoginNav{
        height: 57px !important
    }
    #createAvartar{
        position:absolute;
        top: 32px;
        left: 5px;
    }
    .createImage{
        right: 20px !important;
    }
}
/* --------------------------------------
                Login Page
   -------------------------------------- */
.formPlate{
    background: white;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.loginBox, .loginBox0, .registerBox, .registerBox0{
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgb(200,200,200);
}
.loginBox0, .registerBox0{
    margin-top: 60px;
}

/* --------------------------------------
                Admin Page
   -------------------------------------- */


.rowmargin{
    margin-top:200px;
    align-content:center;
}

.profilesAdmin{
   
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 2vw 0 0;
    list-style: none;
    justify-content:center;
}
.adviewpic1,.adviewpic{
    width:150px;
    height:150px;
    object-fit:cover;
    position: absolute;
    left: 0;
    top: -7px;
}
.adviewpic1{
    top:0;
}
.profilesAdmin:hover{
    color: #F7B733;
}
.profilesAdmin img:hover{
    border: solid #F7B733;
}
.addProfileAdmin {
    height: 150px;
    width: 150px;
    display: block;
    background-size: contain;
    font-size:250%; 
}
.plus{
    justify-content:center;
}
.adminHome{
   display: inline;
   text-align:center;
   vertical-align:middle;
}
.infotable{
    float:right;
}

.createbutton{
    padding:50px;
}


.createBox{
    margin-left: auto;
    margin-right: auto;
}
