@media screen and (max-width: 425px) {
    #homeNavTitle{
        font-weight: 900;
        font-size: 50px;
    }
    #homeNavButton{
        background: white;
    }
    #homeNavI{
        background: white;
    }
    #homeNavI ul li{
        font-size: 20px;
        display: block;
    }
    .homeNavbutton {
      display: flex;
      position: absolute;
      top: 30px;
      right: 20px;
      width: 30px;
      height: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #F7B733;
      z-index: 2;
    }

    .button__line {
      background: white;
      width: 20px;
      height: 3px;
      margin: 1px 0;
      &:not(:first-child) {
        margin-top: 1px;
      }
    }
}