body {
    padding-top: 50px;
    padding-bottom: 20px;
    height:100%;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*our CSS*/
#addProfile{
    position:relative;
   
}
#adminHome{
    height:300px;
    text-align:center;
    vertical-align:middle;
    margin-top:50px;
}
.infotable{
    float:right;
}


/* --------------------------------------
             Wizard Form
   -------------------------------------- */

.wizard>.steps{
    position: relative;
    display: block;
    width: 100%;
}
.wizard ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wizard ul>li{
    display: block;
    padding: 0;
    float: left;
    list-style: none;
    width: 25%;
    line-height: 1.5em;
}
.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active{
    background: blue;
    color: #fff;
    cursor: default
}
.wizard>.steps a{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
}
#tab2, #tab3{
    height: 400px;
}
.wizard>.content {
    background: #eee;
    display: block;
    margin: .5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
}
.wizard>.content>.title{
    position:absolute;
    left: -999em;
}
.wizard>.content>.body{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    display: block;
}

.wizard>.actions{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard>.actions> ul{
    display: inline-block;
    text-align: right;
}
.wizard>.actions .disabled a{
    background: #eee;
    color: #aaa !important;
}
.wizard>.actions a{
    display: block;
    color: #fff;
    background: #2184be;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px; 
}
#wizForm{
    margin-top: 20px;
}
#wizNav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#wizNav li{
    width: 33.3%;
}
#wizNav a{
    border-radius: 0;
}
#wizNavContainer{
    padding: 0;
}
#rootwizard> .navbar{
    margin-bottom: 0;
}
.pager.wizard li{
    display: inline-block;
    text-align: right;
}
.tab-content{
    height: 472px;
}
#wiz1left{
    height: 400px;
    background: gray;
}
#wiz1right{
    padding-left: 100px;
    padding-top: 50px;
}
.wizardFooter>ul{
    text-align: right;
}
.wizardFooter>ul> li{
    text-align: right;
    padding-left: 20px;
}
#submitWiz{
    width: 88px;
}
.footerSeperate{
    width: 20px;
}

/* --------------------------------------
                Images
   -------------------------------------- */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.image {
  float: left;
  width: 40%;
  margin: 0 30px 20px 0;
  
}
#createAvartar{
    position: absolute;
    top: 50px;
    right: 90px;
}
#Avatar{
    position: absolute;
    bottom: 100px;
    left: 100px;
}


.idpicsize{
    width:300px;
    height:300px;
    padding-bottom:15px;
    align-content:center;
}
.detailsphoto{
    margin-left:500px;
}
.emergbtn{
    padding-left:100px;
}


/* --------------------------------------
                Qr Code
   -------------------------------------- */

#generateQr{
    /*position: absolute;
    top: 350px;
    right: 30px;*/
    position: relative;
}
#testQrCode{
    height: 250px;
    width: 250px;
    margin-top: 20px;
}


/* --------------------------------------
             Media Queries
   -------------------------------------- */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {
    .idpicsize{
    width:100px;
    height:100px;
    padding-bottom:15px;
    
}
}