body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    /*background-image: url('../Images/light-blue2.png');*/
    background-color: #4ABDAC
    /*background-size: cover;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
#navbar{
    color: #D0D8AF;
    background-color: #FC4A1A
}
#button{
    background-color: #F7B733
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*our CSS*/
#addProfile{
    position:relative;
   
}

/*home/admin*/
.adminHome{
   display: inline;
    text-align:center;
    vertical-align:middle;
    
   
}
.infotable{
    float:right;
}

}
.plus{
    height:300px;
    width:300px;
}

.createbutton{
    padding:50px;
}


/* --------------------------------------
             Wizard Form
   -------------------------------------- */

.wizard>.steps{
    position: relative;
    display: block;
    width: 100%;
}
.wizard ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wizard ul>li{
    display: block;
    padding: 0;
    float: left;
    list-style: none;
    width: 25%;
    line-height: 1.5em;
}
.wizard>.steps .current a, .wizard>.steps .current a:hover, .wizard>.steps .current a:active{
    background: blue;
    color: #fff;
    cursor: default
}
.wizard>.steps a{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 5px;
}


.wizard>.content {
    background: #eee;
    display: block;
    margin: .5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
}
.wizard>.content>.title{
    position:absolute;
    left: -999em;
}
.wizard>.content>.body{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    display: block;
}

.wizard>.actions{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard>.actions> ul{
    display: inline-block;
    text-align: right;
}
.wizard>.actions .disabled a{
    background: #eee;
    color: #aaa !important;
}
.wizard>.actions a{
    display: block;
    color: #fff;
    background: #2184be;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px; 
}

.idpicsize{
    width:300px;
    height:300px;
    padding:15px;
    align-content:center;
    display:inline-block;
}
.detailsphoto{
    margin-left:500px;
}
.emergbtn{
    padding-left:100px;
}


/* --------------------------------------
                Qr Code
   -------------------------------------- */

#generateQr{
    /*position: absolute;
    top: 350px;
    right: 30px;*/
    position: relative;
}
#testQrCode{
    height: 250px;
    width: 250px;
    margin-top: 20px;
}


/* --------------------------------------
             Media Queries
   -------------------------------------- */

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {
    .idpicsize{
    width:100px;
    height:100px;
    padding-bottom:15px;
    
}
}
/* --------------------------------------
             Footer
   -------------------------------------- */
 #footer
    {
        position: absolute;
        bottom: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }